.formGroup label {
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .modalContent {
    width: 75%;
  }

  .formGroup label {
    font-size: 0.85rem;
  }

  .input {
    padding: 0.6rem;
  }

  .buttonGroup {
    flex-direction: column;
    gap: 0.8rem;
  }
}

@media (max-width: 480px) {
  .modalContent {
    padding: 1rem;
  }

  .formGroup label {
    font-size: 0.8rem;
  }

  .input {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}
